body {
    background-image:url(../img/computer-1245714_1920.jpg);
}

.main-container {
    height: 800px;
    width: 800px;
    margin: 0 auto;
    position: relative;
}

.box {
    height: 200px;
    width: 200px;
    position: absolute;
    animation-name: moveBox;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes moveBox {
    0% {left: 0; top: 0; background-color: rgb(26, 14, 190); border-radius: 0}
    25% {left: 75%; top: 75%; background-color: rgb(107, 14, 79); border-radius: 20%}
    50% {left: 0; top: 75%; background-color: rgb(52, 212, 100); border-radius: 30%}
    75% {left: 75%; top: 0; background-color: rgb(211, 208, 40);  border-radius: 50%}
    100% {left: 0; top: 0; background-color: rgb(212, 44, 52);}
}